@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url("../assets/images/background_final.jpg");
    width: 100%;
    font-family: "Lato";
    z-index: 0;
}

.logo {
    background-color:#D2B48C;
    height: 70px;
}


.primaryImageContainer {
    position: relative;
    text-align: center;
    color: white;
    font-size: 25px;
    font-style: italic;
}

.centerImageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerImage {
    width: 100vw;
    height: 400px;
    object-fit: cover;
}



.homeBody {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* intro home */
.sectionHomeIntro {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    background-color: #D2B48C;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.sectionHomePicture {
    width: 60%;
    object-fit: fill;
    border-radius: 0 10px 10px 0
}

.sectionHomeText {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 1rem;
}

/*home coffees text*/

.coffeeTypesText {
    background-color: #D2B48C;
    margin: 2rem 0 2rem 0;
    padding: 2rem;
    font-size: 22px;
}

.coffeeList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.seeMoreCoffee {
    display: flex;
    right: 0;
    justify-content: flex-end;
    margin: 1rem 0 0 0;
}

.seeMoreCoffee a {
    text-decoration: none;

}

.coffeeButton {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #1E1E1E;
    color: #f2f2f2;
    vertical-align: middle;
    cursor: pointer;
}

.coffeeButtonProductsPage {
    margin-top: 5px;
    width: 100%
}

.productType {
    display: flex;
    justify-content: center;
}

.coffeeCard {
    width: 200px;
    margin: 1.5rem;
}

.coffeeImage {
    width: 200px;
    object-fit: cover;
    display: inline-block;
    border-radius: 5px 5px 0 0;
}

.coffeeDesc {
    padding: 1rem;
    background-color: #D2B48C;
    border-radius: 0 0 5px 5px;

}

.coffeeProductsContainer {
    display: "flex";
    flex-direction: "row"
}


.midScreen {
    display: none;
}

.mobile {
    display: none;
}

/*footer stuff*/

.footer {
    padding: 4rem 0 2rem 0;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.socialLinkIcons {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.socialLinkIcon {
    width: 30px;
}


/*contact form*/

.contactForm {
    background-color: #D2B48C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
}

.contactInputs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap:wrap;

}

.submitMailContainer {
    width: 100%;
    display: flex;
    justify-content: end;
}

.sectionHomeAddOnContact {
    margin-top: 0;
    margin-bottom: 2rem;
    max-height: 400px;
}

.genericContainer {
    display: flex;
    flex-direction: column;
    background-color: #D2B48C;
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    border-radius: 5px;
}

/* .contactFormInputs {

    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.submitMailContainer {
    width: 100%;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    justify-content: end;
    margin: auto;
} */

/*about us*/

.aboutUsTextContainer {
    padding: 2rem;
    background-color: #D2B48C;
    margin: 1rem;
    font-size: 20px;
}

.signature {
    display: flex;
    justify-content: end;
}

/* services */

.servicesCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0 2rem 0;
}

.serviceCard {
    display: flex;
    flex-direction: column;
    background-color: #D2B48C;
    width: 30%;
    border-radius: 5px;
}

.serviceCardImg {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.serviceCardText {
    padding: 2rem;
    border-radius: 0 0 5px 5px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #1E1E1E;
    color: #FFF;
    border-radius: 50px;
    border: 1px solid #D2B48C;
    text-align: center;
    text-decoration: none;
    font-size: 40px;

}

.float:hover .tooltipText {
    visibility: visible;

}

a div {
    padding-top: 0.5rem;
}

.tooltipText {
    font-weight: bold;
    font-size: 10px;
    visibility: hidden;
    position: fixed;
    bottom: 105px;
    right: 20px;
    width: 100px;
    background-color: #1E1E1E;
    color: #D2B48C;
    text-align: center;
    padding: 5px 0;
    z-index: 1;
}


/* bootstrap */

.navbar {
    background-color: #1E1E1E;
    --bs-navbar-padding-y: 0;
}

.navbar-toggler {
    margin-right: 1rem;
}

.carousel {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* background-color: #D2B48C; */
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.carousel-item-next {
    display: flex;
    flex-direction: row;
}

.carousel-item-prev {
    display: flex;
    flex-direction: row;
}

.carousel-item.end {
    display: flex;
    flex-direction: row;
}

.carousel-control-next {
    background-color: #D2B48C;
    border-radius: 5px;
    width: 5%;

}

.carousel-control-prev {
    background-color: #D2B48C;
    border-radius: 5px;
    width: 5%;
}



.navbar-dark {
    --bs-navbar-hover-color: #bd1d15;
}

.nav-link.disabled {
    color: #bd1d15;
}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}


/*mediaqueries*/

@media (max-width: 1000px) {
    body {
        font-size: 12px;
    }

    .nav-link {
        margin-right: 5px !important;
        --bs-nav-link-padding-x: 5px;
    }

    .sectionHomeIntro {
        margin-top: 2rem;
        display: flex;
        flex-direction: column-reverse;
        background-color: #D2B48C;
        margin-bottom: 1rem;
    }

    .sectionHomePicture {
        width: 100%;
        height: 300px;
        margin: 0;
        object-fit: cover;
        border-radius: 10px 10px 0 0
    }

    .sectionHomeText {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .sectionHomeAddOnContact {
        max-height: 600px;
        margin-top: 0rem;
        margin-bottom: 2rem;
     } 

    .midScreen {
        display: flex
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: none;
    }
    .socialLinkIcons {
        width: 40%;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 12px;
    }

    .midScreen {
        display: none;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .socialLinkIcons {
        width: 60%;
    }

    .servicesCardsContainer {
        flex-direction: column;
    }
    .serviceCard {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 1rem;

    }

    .sectionHomeAddOnContact {
       max-height: 600px;
    } 

    .contactForm {
        flex-direction: column;
    }
    
    .contactInputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-wrap:wrap;
    
    }

    .contactFormInputs {
        width: 100%;
    }
    
    .submitMailContainer {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    h2 {
        font-size: 16px;
    }

    /* float */

    .float {
        bottom: 20px;
        right: 20px;
    }
    
    .float:hover .tooltipText {
        visibility: visible;
    
    }
    
    a div {
        padding-top: 0.5rem;
    }
    
    .tooltipText {
        font-weight: bold;
        font-size: 10px;
        visibility: hidden;
        position: fixed;
        bottom: 105px;
        right: 20px;
        width: 100px;
        background-color: #1E1E1E;
        color: #D2B48C;
        text-align: center;
        padding: 5px 0;
        z-index: 1;
    }
    
    
        

}