@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
body {
  background-image: url("../assets/images/background_final.jpg");
  width: 100%;
  font-family: "Lato";
  z-index: 0;
}

.homeBody {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  margin: auto;
  max-width: 1200px;
}

.primaryImageContainer {
  position: relative;
  text-align: center;
  color: white;
  font-size: 25px;
  font-style: italic;
}
.primaryImageContainer .centerImageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.primaryImageContainer .centerImage {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 2rem 0;
  margin: auto;
  background-color: #1e1e1e;
  color: white;
}
footer .socialLinkIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: auto;
  margin: auto auto 1rem auto;
  width: 20%;
}
footer .socialLinkIcon {
  width: 30px;
}

.navBar {
  background-color: #1e1e1e;
  --bs-navbar-padding-y: 0;
  --bs-navbar-hover-color: #bd1d15;
  --bs-navbar-color: white;
}
.navBar .navbar-expand-md {
  justify-content: flex-end;
}
.navBar .logo {
  background-color: #d2b48c;
  height: 70px;
}
.navBar .navbar-collapse {
  justify-content: flex-end;
}
.navBar .nav-link.disabled {
  color: #bd1d15;
}

.genericContainer, .genericContainer--fixMargin, .genericContainer--button {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem 0 1rem 0;
  background-color: #d2b48c;
  border-radius: 5px;
  font-size: 20px;
}

.genericContainer--button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0 0 0;
}

.genericContainer--fixMargin {
  margin: 0;
}

.coffeeButton, .coffeeButton--bottom {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #1e1e1e;
  color: #f2f2f2;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
}

.coffeeButton--bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0rem;
  width: 100%;
}

.coffeeCard {
  transition: all 0.5s ease-in-out;
  max-width: 200px;
  margin: 1.5rem;
}
.coffeeCard:hover {
  transform: scale(1.05, 1.05);
}
.coffeeCard .coffeeImage {
  width: 200px;
  object-fit: cover;
  display: inline-block;
  border-radius: 5px 5px 0 0;
}
.coffeeCard .coffeeDesc {
  padding: 1rem;
  background-color: #d2b48c;
  border-radius: 0 0 5px 5px;
}

.float {
  z-index: 10;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 50px;
  border: 1px solid #d2b48c;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
}
.float:hover {
  visibility: visible;
}
.float:hover .tooltipText {
  visibility: visible;
}
.float .tooltipText {
  font-weight: bold;
  font-size: 10px;
  visibility: hidden;
  position: fixed;
  bottom: 105px;
  right: 20px;
  width: 100px;
  background-color: #1e1e1e;
  color: #d2b48c;
  text-align: center;
  padding: 5px 0;
  z-index: 1;
}

a div {
  padding-top: 0.5rem;
}

.carouselArrow {
  background-color: #d2b48c;
  border-radius: 5px;
  width: 5%;
}

/**/
.carouselArrow {
  background-color: #d2b48c;
  border-radius: 5px;
  width: 60px;
}

.imageContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}
.imageContainer .carouselImage {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}
.imageContainer .carouselImageText, .imageContainer .carouselImageText--corner {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imageContainer .carouselImageText--corner {
  top: 5%;
  left: 15%;
  font-size: 24px;
}

/**/
@media (max-width: 1080px) {
  body {
    font-size: 12px;
  }
  footer .socialLinkIcons {
    width: 40%;
  }
  .genericContainer, .genericContainer--button, .genericContainer--fixMargin {
    font-size: 18px;
  }
  .imageContainer .carouselImage {
    width: 100%;
    height: 500px;
  }
  .imageContainer .carouselImageText--corner {
    left: 15%;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  footer .socialLinkIcons {
    width: 60%;
  }
  .genericContainer, .genericContainer--button, .genericContainer--fixMargin {
    font-size: 14px;
  }
  .float {
    bottom: 25px;
    right: 20px;
    font-size: 40px;
  }
  .float .tooltipText {
    visibility: hidden;
  }
  .imageContainer {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
  }
  .imageContainer .carouselImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
  }
  .imageContainer .bandImageContainerText {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .imageContainer .carouselImageText--corner {
    left: 50%;
    font-size: 24px;
  }
}
.sectionHomeIntro {
  display: flex;
  flex-direction: row;
  padding: auto;
  margin: 2rem 0 1rem 0;
  transition: all 0.5s ease-in-out;
  background-color: #d2b48c;
  border-radius: 10px;
}
.sectionHomeIntro:hover {
  box-shadow: 0 0.8em 0.8em -0.6em black;
  transform: scale(1.05, 1.05);
}
.sectionHomeIntro .sectionHomePicture {
  width: 60%;
  object-fit: fill;
  border-radius: 0 10px 10px 0;
}
.sectionHomeIntro .sectionHomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
  margin: 0;
  width: 40%;
}

.seeMoreCoffee a {
  text-decoration: none;
  font-size: 16px;
}

.showsContainer {
  transition: all 0.5s ease-in-out;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-areas: "showDesc1 carouselBand" "showDesc2 carouselBand" "showDesc3 carouselBand";
}
.showsContainer:hover {
  box-shadow: 0 0.8em 0.8em -0.6em black;
  transform: scale(1.05, 1.05);
}
.showsContainer .showDesc1 {
  grid-area: showDesc1;
}
.showsContainer .showDesc1 .soldOut {
  color: #bd1d15;
}
.showsContainer .showDesc2 {
  grid-area: showDesc2;
}
.showsContainer .showDesc3 {
  grid-area: showDesc3;
}
.showsContainer .carouselBand {
  grid-area: carouselBand;
  margin-top: 0;
  margin-bottom: 0;
}

.carousel {
  margin: 1rem 0 1rem 0;
}
.carousel .carousel-inner .coffeeListCarousel {
  display: flex;
  justify-content: center;
}

.midScreen {
  display: none;
}

.mobile {
  display: none;
}

.soldOut {
  color: #bd1d15;
}

@media (max-width: 1080px) {
  .sectionHomeIntro {
    flex-direction: column-reverse;
  }
  .sectionHomeIntro .sectionHomePicture {
    width: 100%;
    height: 300px;
    margin: 0;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .sectionHomeIntro .sectionHomeText {
    width: 100%;
    padding: 1rem;
  }
  .showsContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2fr repeat(3, 0.5fr);
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-areas: "carouselBand" "showDesc1" "showDesc2" "showDesc3";
  }
  .midScreen {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .midScreen {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}
.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0;
  background-color: #d2b48c;
  border-radius: 5px;
}
.contactForm .contactInputs {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 1rem;
  flex-wrap: wrap;
}
.contactForm .submitMailContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sectionHomeAddOnContact {
  margin-top: 0;
  margin-bottom: 2rem;
  max-height: 400px;
}

@media (max-width: 1080px) {
  .sectionHomeAddOnContact {
    max-height: 600px;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .contactForm {
    flex-direction: column;
  }
  .contactForm .contactInputs {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .contactForm .contactInputs .contactFormInputs {
    width: 100%;
  }
}
body {
  background-image: url("../assets/images/background_final.jpg");
  width: 100%;
  font-family: "Lato";
  z-index: 0;
}

.homeBody {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  margin: auto;
  max-width: 1200px;
}

.primaryImageContainer {
  position: relative;
  text-align: center;
  color: white;
  font-size: 25px;
  font-style: italic;
}
.primaryImageContainer .centerImageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.primaryImageContainer .centerImage {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 2rem 0;
  margin: auto;
  background-color: #1e1e1e;
  color: white;
}
footer .socialLinkIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: auto;
  margin: auto auto 1rem auto;
  width: 20%;
}
footer .socialLinkIcon {
  width: 30px;
}

.navBar {
  background-color: #1e1e1e;
  --bs-navbar-padding-y: 0;
  --bs-navbar-hover-color: #bd1d15;
  --bs-navbar-color: white;
}
.navBar .navbar-expand-md {
  justify-content: flex-end;
}
.navBar .logo {
  background-color: #d2b48c;
  height: 70px;
}
.navBar .navbar-collapse {
  justify-content: flex-end;
}
.navBar .nav-link.disabled {
  color: #bd1d15;
}

.genericContainer, .genericContainer--button, .genericContainer--fixMargin {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem 0 1rem 0;
  background-color: #d2b48c;
  border-radius: 5px;
  font-size: 20px;
}

.genericContainer--button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0 0 0;
}

.genericContainer--fixMargin {
  margin: 0;
}

.coffeeButton, .coffeeButton--bottom {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #1e1e1e;
  color: #f2f2f2;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
}

.coffeeButton--bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0rem;
  width: 100%;
}

.coffeeCard {
  transition: all 0.5s ease-in-out;
  max-width: 200px;
  margin: 1.5rem;
}
.coffeeCard:hover {
  transform: scale(1.05, 1.05);
}
.coffeeCard .coffeeImage {
  width: 200px;
  object-fit: cover;
  display: inline-block;
  border-radius: 5px 5px 0 0;
}
.coffeeCard .coffeeDesc {
  padding: 1rem;
  background-color: #d2b48c;
  border-radius: 0 0 5px 5px;
}

.float {
  z-index: 10;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 50px;
  border: 1px solid #d2b48c;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
}
.float:hover {
  visibility: visible;
}
.float:hover .tooltipText {
  visibility: visible;
}
.float .tooltipText {
  font-weight: bold;
  font-size: 10px;
  visibility: hidden;
  position: fixed;
  bottom: 105px;
  right: 20px;
  width: 100px;
  background-color: #1e1e1e;
  color: #d2b48c;
  text-align: center;
  padding: 5px 0;
  z-index: 1;
}

a div {
  padding-top: 0.5rem;
}

.carouselArrow {
  background-color: #d2b48c;
  border-radius: 5px;
  width: 5%;
}

/**/
.carouselArrow {
  background-color: #d2b48c;
  border-radius: 5px;
  width: 60px;
}

.imageContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}
.imageContainer .carouselImage {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}
.imageContainer .carouselImageText, .imageContainer .carouselImageText--corner {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imageContainer .carouselImageText--corner {
  top: 5%;
  left: 15%;
  font-size: 24px;
}

/**/
@media (max-width: 1080px) {
  body {
    font-size: 12px;
  }
  footer .socialLinkIcons {
    width: 40%;
  }
  .genericContainer, .genericContainer--button, .genericContainer--fixMargin {
    font-size: 18px;
  }
  .imageContainer .carouselImage {
    width: 100%;
    height: 500px;
  }
  .imageContainer .carouselImageText--corner {
    left: 15%;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  footer .socialLinkIcons {
    width: 60%;
  }
  .genericContainer, .genericContainer--button, .genericContainer--fixMargin {
    font-size: 14px;
  }
  .float {
    bottom: 25px;
    right: 20px;
    font-size: 40px;
  }
  .float .tooltipText {
    visibility: hidden;
  }
  .imageContainer {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
  }
  .imageContainer .carouselImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
  }
  .imageContainer .bandImageContainerText {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .imageContainer .carouselImageText--corner {
    left: 50%;
    font-size: 24px;
  }
}
.productOptionsFormContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.productOptionsFormContainer .productsForm {
  min-width: 20vw;
  padding: 1rem;
  margin-right: 1rem;
  background-color: #d2b48c;
  height: 50vh;
  position: sticky;
  top: 2vh;
  border-radius: 5px;
}
.productOptionsFormContainer .productsForm .formItems {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.productOptionsFormContainer .productsForm .sliderContainer {
  width: 100%;
}
.productOptionsFormContainer .productsForm .sliderContainer .slider {
  appearance: none;
  width: 100%;
  background: #bd1d15;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
}
.productOptionsFormContainer .productsForm .finishProducts {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 90%;
}
.productOptionsFormContainer .productsForm .buttonLink {
  display: flex;
  justify-content: center;
}
.productOptionsFormContainer .coffeeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.productOptionsFormContainer .coffeeList .productType {
  display: flex;
  justify-content: center;
}
.productOptionsFormContainer .coffeeList .productType .coffeeButtonProductsPage {
  margin-top: 5px;
  width: 100%;
}

.modalWindow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
}
.modalWindow .modalButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
  position: absolute;
  bottom: 2rem;
  width: 80%;
}
.modalWindow:target {
  margin-top: 5rem;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  width: 400px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background-color: #d2b48c;
  border: 2px solid black;
  border-radius: 5px;
}

@media (max-width: 1080px) {
  .productOptionsFormContainer {
    flex-direction: column;
  }
  .productOptionsFormContainer .productsForm {
    margin: 1rem 0 1rem 0;
    top: initial;
    max-height: 40vh;
  }
  .productOptionsFormContainer .productsForm .formItems {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .productOptionsFormContainer .productsForm .sliderContainer {
    width: 100%;
  }
  .productOptionsFormContainer .productsForm .sliderContainer .slider {
    appearance: none;
    width: 100%;
    background: #bd1d15;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
  }
  .productOptionsFormContainer .productsForm .finishProducts {
    position: absolute;
    bottom: 1rem;
    width: 90%;
  }
  .productOptionsFormContainer .productsForm .buttonLink {
    display: flex;
    justify-content: center;
  }
  .productOptionsFormContainer .coffeeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .productOptionsFormContainer .coffeeList .fixWidth {
    max-width: 250px;
  }
  .productOptionsFormContainer .coffeeList .fixWidth .imageFixProducts {
    width: 250px;
  }
  .productOptionsFormContainer .coffeeList .productType {
    display: flex;
    justify-content: center;
  }
  .productOptionsFormContainer .coffeeList .productType .coffeeButtonProductsPage {
    margin-top: 5px;
    width: 100%;
  }
}
@media (max-width: 950px) {
  .productOptionsFormContainer .coffeeList .fixWidth {
    max-width: 400px;
  }
  .productOptionsFormContainer .coffeeList .fixWidth .imageFixProducts {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .productOptionsFormContainer {
    flex-direction: column;
  }
  .productOptionsFormContainer .productsForm {
    margin: 1rem 0 1rem 0;
    top: initial;
    max-height: 40vh;
  }
  .productOptionsFormContainer .productsForm .formItems {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .productOptionsFormContainer .productsForm .sliderContainer {
    width: 100%;
  }
  .productOptionsFormContainer .productsForm .sliderContainer .slider {
    appearance: none;
    width: 100%;
    background: #bd1d15;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
  }
  .productOptionsFormContainer .productsForm .finishProducts {
    position: absolute;
    bottom: 1rem;
    width: 90%;
  }
  .productOptionsFormContainer .productsForm .buttonLink {
    display: flex;
    justify-content: center;
  }
  .productOptionsFormContainer .coffeeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .productOptionsFormContainer .coffeeList .productType {
    display: flex;
    justify-content: center;
  }
  .productOptionsFormContainer .coffeeList .productType .coffeeButtonProductsPage {
    margin-top: 5px;
    width: 100%;
  }
}
.servicesCardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0 2rem 0;
}
.servicesCardsContainer .serviceCard {
  transition: all 0.5s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #d2b48c;
  width: 30%;
  border-radius: 5px;
}
.servicesCardsContainer .serviceCard:hover {
  box-shadow: 0 0.8em 0.8em -0.6em black;
  transform: scale(1.05, 1.05);
}
.servicesCardsContainer .serviceCard .serviceCardImg {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.servicesCardsContainer .serviceCard .serviceCardText {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0 0 5px 5px;
}
.servicesCardsContainer .serviceCard .servicesButtonContainer {
  height: 20px;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;
}

@media (max-width: 1080px) {
  .servicesCardsContainer {
    flex-direction: column;
  }
  .servicesCardsContainer .serviceCard {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
}
body {
  background-image: url("../assets/images/background_final.jpg");
  width: 100%;
  font-family: "Lato";
  z-index: 0;
}

.homeBody {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  margin: auto;
  max-width: 1200px;
}

.primaryImageContainer {
  position: relative;
  text-align: center;
  color: white;
  font-size: 25px;
  font-style: italic;
}
.primaryImageContainer .centerImageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.primaryImageContainer .centerImage {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 2rem 0;
  margin: auto;
  background-color: #1e1e1e;
  color: white;
}
footer .socialLinkIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: auto;
  margin: auto auto 1rem auto;
  width: 20%;
}
footer .socialLinkIcon {
  width: 30px;
}

.navBar {
  background-color: #1e1e1e;
  --bs-navbar-padding-y: 0;
  --bs-navbar-hover-color: #bd1d15;
  --bs-navbar-color: white;
}
.navBar .navbar-expand-md {
  justify-content: flex-end;
}
.navBar .logo {
  background-color: #d2b48c;
  height: 70px;
}
.navBar .navbar-collapse {
  justify-content: flex-end;
}
.navBar .nav-link.disabled {
  color: #bd1d15;
}

.genericContainer, .genericContainer--button, .genericContainer--fixMargin {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem 0 1rem 0;
  background-color: #d2b48c;
  border-radius: 5px;
  font-size: 20px;
}

.genericContainer--button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0 0 0;
}

.genericContainer--fixMargin {
  margin: 0;
}

.coffeeButton, .coffeeButton--bottom {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #1e1e1e;
  color: #f2f2f2;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
}

.coffeeButton--bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0rem;
  width: 100%;
}

.coffeeCard {
  transition: all 0.5s ease-in-out;
  max-width: 200px;
  margin: 1.5rem;
}
.coffeeCard:hover {
  transform: scale(1.05, 1.05);
}
.coffeeCard .coffeeImage {
  width: 200px;
  object-fit: cover;
  display: inline-block;
  border-radius: 5px 5px 0 0;
}
.coffeeCard .coffeeDesc {
  padding: 1rem;
  background-color: #d2b48c;
  border-radius: 0 0 5px 5px;
}

.float {
  z-index: 10;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 50px;
  border: 1px solid #d2b48c;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
}
.float:hover {
  visibility: visible;
}
.float:hover .tooltipText {
  visibility: visible;
}
.float .tooltipText {
  font-weight: bold;
  font-size: 10px;
  visibility: hidden;
  position: fixed;
  bottom: 105px;
  right: 20px;
  width: 100px;
  background-color: #1e1e1e;
  color: #d2b48c;
  text-align: center;
  padding: 5px 0;
  z-index: 1;
}

a div {
  padding-top: 0.5rem;
}

.carouselArrow {
  background-color: #d2b48c;
  border-radius: 5px;
  width: 5%;
}

/**/
.carouselArrow {
  background-color: #d2b48c;
  border-radius: 5px;
  width: 60px;
}

.imageContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}
.imageContainer .carouselImage {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}
.imageContainer .carouselImageText, .imageContainer .carouselImageText--corner {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imageContainer .carouselImageText--corner {
  top: 5%;
  left: 15%;
  font-size: 24px;
}

/**/
@media (max-width: 1080px) {
  body {
    font-size: 12px;
  }
  footer .socialLinkIcons {
    width: 40%;
  }
  .genericContainer, .genericContainer--button, .genericContainer--fixMargin {
    font-size: 18px;
  }
  .imageContainer .carouselImage {
    width: 100%;
    height: 500px;
  }
  .imageContainer .carouselImageText--corner {
    left: 15%;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  footer .socialLinkIcons {
    width: 60%;
  }
  .genericContainer, .genericContainer--button, .genericContainer--fixMargin {
    font-size: 14px;
  }
  .float {
    bottom: 25px;
    right: 20px;
    font-size: 40px;
  }
  .float .tooltipText {
    visibility: hidden;
  }
  .imageContainer {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
  }
  .imageContainer .carouselImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
  }
  .imageContainer .bandImageContainerText {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .imageContainer .carouselImageText--corner {
    left: 50%;
    font-size: 24px;
  }
}
.showsPageCarousel {
  transition: all 0.5s ease-in-out;
  margin: 2rem 0 2rem 0;
}
.showsPageCarousel:hover {
  transform: scale(1.05, 1.05);
}
.showsPageCarousel .bandsCarousel {
  margin-top: 0rem;
  width: 100%;
}

.showAudioContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.showAudioContainer .showAudioCard {
  transition: all 0.5s ease-in-out;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #d2b48c;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  min-height: 400px;
}
.showAudioContainer .showAudioCard:hover {
  transform: scale(1.05, 1.05);
}
.showAudioContainer .showAudioCard .audioContainer {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.showAudioContainer .showAudioCard .audioContainer .audioControls {
  max-width: 100%;
  margin: 0.5rem;
  margin-top: 3rem;
}

@media (max-width: 1080px) {
  .showsPageCarousel {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    height: 500px;
  }
  .showsPageCarousel #carouselBand2 {
    margin-top: 0rem;
    width: 100%;
  }
  .showsPageCarousel #carouselBand2 .showImage {
    width: 100%;
    height: 500px;
  }
  .showsPageCarousel #carouselBand2 .centerImageTextShows {
    font-size: 20px;
    left: 25%;
  }
  .showAudioContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: 16px;
  }
  .showAudioContainer .showAudioCard {
    max-width: 100%;
    padding: 1rem;
    min-height: 300px;
  }
  .showAudioContainer .showAudioCard .audioContainer {
    display: flex;
    max-width: 100%;
    justify-content: center;
  }
  .showAudioContainer .showAudioCard .audioContainer .audioControls {
    max-width: 100%;
    margin: 0.5rem;
    margin-top: 3rem;
  }
}
@media (max-width: 768px) {
  .showAudioContainer .showAudioCard {
    max-width: 100%;
    padding: 1rem;
    min-height: 400px;
  }
}
* {
  margin: 0;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=styles.css.map */
