@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/images/background_final.jpg");
  width: 100%;
  font-family: "Lato";
  z-index: 0;
}

.navbar {
  background-color: #1e1e1e;
  --bs-navbar-padding-y: 0;
  --bs-navbar-hover-color: #bd1d15;
  --bs-navbar-color: white;
}
.navbar .navbar-expand-md {
  justify-content: flex-end;
}
.navbar .logo {
  background-color: #d2b48c;
  height: 70px;
}
.navbar .navbar-collapse {
  justify-content: flex-end;
}
.navbar .nav-link.disabled {
  color: #bd1d15;
}

footer {
  padding: 4rem 0 2rem 0;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
footer .socialLinkIcons {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}
footer .socialLinkIcon {
  width: 30px;
}

/* reutilizables */
.homeBody {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.carousel-control-prev {
  background-color: #d2b48c;
  border-radius: 5px;
  width: 5%;
}

.carousel-control-next {
  background-color: #d2b48c;
  border-radius: 5px;
  width: 5%;
}

.fixFlex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.genericContainer {
  display: flex;
  background-color: #d2b48c;
  margin: 2rem 0 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  font-size: 20px;
}

.coffeeButton {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #1e1e1e;
  color: #f2f2f2;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
}

/* homeMain*/
.primaryImageContainer {
  position: relative;
  text-align: center;
  color: white;
  font-size: 25px;
  font-style: italic;
}
.primaryImageContainer .centerImageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.primaryImageContainer .centerImage {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

.sectionHomeIntro {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  background-color: #d2b48c;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.sectionHomeIntro .sectionHomePicture {
  width: 60%;
  object-fit: fill;
  border-radius: 0 10px 10px 0;
}
.sectionHomeIntro .sectionHomeText {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0 1rem;
}

.buttonContainer {
  display: flex;
  background-color: #d2b48c;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}
.buttonContainer .buttonContainerText {
  font-size: 24px;
}
.buttonContainer .seeMoreCoffee a {
  text-decoration: none;
}

.showsContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-areas: "showDesc1 carouselBand" "showDesc2 carouselBand" "showDesc3 carouselBand";
}
.showsContainer .normalizeMarginGrid {
  margin-bottom: 0rem;
  margin-top: 0rem;
}
.showsContainer .showDesc1 {
  grid-area: showDesc1;
}
.showsContainer .showDesc1 .soldOut {
  color: #bd1d15;
}
.showsContainer .showDesc2 {
  grid-area: showDesc2;
}
.showsContainer .showDesc3 {
  grid-area: showDesc3;
}
.showsContainer .carouselBand {
  grid-area: carouselBand;
  margin-top: 0rem;
  margin-bottom: 0;
}
.showsContainer .carouselBand .bandImageContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}
.showsContainer .carouselBand .bandImageContainer .bandImage {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}
.showsContainer .carouselBand .bandImageContainer .bandImageContainerText {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel {
  margin: 1rem 0 1rem 0;
}
.carousel .carousel-inner .coffeeListCarousel {
  display: flex;
  justify-content: center;
}
.carousel .carousel-inner .coffeeListCarousel .coffeeCard {
  max-width: 200px;
  margin: 1.5rem;
}
.carousel .carousel-inner .coffeeListCarousel .coffeeCard .coffeeImage {
  width: 200px;
  object-fit: cover;
  display: inline-block;
  border-radius: 5px 5px 0 0;
}
.carousel .carousel-inner .coffeeListCarousel .coffeeCard .coffeeDesc {
  padding: 1rem;
  background-color: #d2b48c;
  border-radius: 0 0 5px 5px;
}

/* Contact */
/* Clases para cambiar de carousel en homePage*/
.midScreen {
  display: none;
}

.mobile {
  display: none;
}

.soldOut {
  color: #bd1d15;
}

@media (max-width: 1080px) {
  footer .socialLinkIcons {
    width: 40%;
  }
  body {
    font-size: 12px;
  }
  .sectionHomeIntro {
    flex-direction: column-reverse;
  }
  .sectionHomeIntro .sectionHomePicture {
    width: 100%;
    height: 300px;
    margin: 0;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .sectionHomeIntro .sectionHomeText {
    width: 100%;
    padding: 1rem;
  }
  .buttonContainer .buttonContainerText {
    font-size: 18px;
  }
  .showsContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2fr repeat(3, 0.5fr);
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-areas: "carouselBand" "showDesc1" "showDesc2" "showDesc3";
  }
  .carouselBand .bandImageContainer .bandImage {
    width: 100%;
    height: 500px;
  }
  .midScreen {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: none;
  }
  .genericContainer {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  footer .socialLinkIcons {
    width: 60%;
  }
  .buttonContainer .buttonContainerText {
    font-size: 14px;
  }
  .midScreen {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .genericContainer {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
