@mixin flexCenter($direction, $justify, $align, $padding, $margin) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  padding: $padding;
  margin: $margin;
}

@mixin transitionSet {
  transition: all 0.5s ease-in-out;
}

@mixin elevateWithShadow($elevation, $useShadow: false) {
  @if $useShadow == true {
    box-shadow: 0 0.8em 0.8em -0.6em black;
  }
  transform: scale(1.05, 1.05);
  // transition-duration: 500ms;
  // transition-property: translateY($elevation);
  // transition-timing-function: ease-in-out;
}
