@mixin flexCenter( $direction, $justify, $align, $padding, $margin ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    padding: $padding;
    margin: $margin;
}

