@import "../mixins/mixins";
@import "../variables";

.sectionHomeIntro {
  @include flexCenter(row, null, null, auto, 2rem 0 1rem 0);
  @include transitionSet;
  &:hover {
    @include elevateWithShadow(10em, true);
  }
  background-color: $containerColor;
  border-radius: 10px;
  .sectionHomePicture {
    width: 60%;
    object-fit: fill;
    border-radius: 0 10px 10px 0;
  }
  .sectionHomeText {
    @include flexCenter(column, center, center, 0 1rem 0 1rem, 0);
    width: 40%;
  }
}

.seeMoreCoffee {
  a {
    text-decoration: none;
    font-size: 16px;
  }
}

.showsContainer {
  @include transitionSet;
  &:hover {
    @include elevateWithShadow(10em, true);
  }
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-areas:
    "showDesc1 carouselBand"
    "showDesc2 carouselBand"
    "showDesc3 carouselBand";

  .showDesc1 {
    grid-area: showDesc1;
    .soldOut {
      color: $secondaryTone;
    }
  }
  .showDesc2 {
    grid-area: showDesc2;
  }
  .showDesc3 {
    grid-area: showDesc3;
  }
  .carouselBand {
    grid-area: carouselBand;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.carousel {
  margin: 1rem 0 1rem 0;
  .carousel-inner {
    .coffeeListCarousel {
      display: flex;
      justify-content: center;
    }
  }
}

.midScreen {
  display: none;
}

.mobile {
  display: none;
}

.soldOut {
  color: $secondaryTone;
}

@media (max-width: 1080px) {
  .sectionHomeIntro {
    flex-direction: column-reverse;
    .sectionHomePicture {
      width: 100%;
      height: 300px;
      margin: 0;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
    .sectionHomeText {
      width: 100%;
      padding: 1rem;
    }
  }

  .showsContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2fr repeat(3, 0.5fr);
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-areas:
      "carouselBand"
      "showDesc1"
      "showDesc2"
      "showDesc3";
  }

  .midScreen {
    display: flex;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .midScreen {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
