.servicesCardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0 2rem 0;
  .serviceCard {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #d2b48c;
    width: 30%;
    border-radius: 5px;
    .serviceCardImg {
      width: 100%;
      height: 260px;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }
    .serviceCardText {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      border-radius: 0 0 5px 5px;
    }
    .servicesButtonContainer {
      height: 20px;
      display: flex;
      width: 90%;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 1080px) {
  .servicesCardsContainer {
    flex-direction: column;
    .serviceCard {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
  }
}
