@import "../variables";
@import "../reusableComponents/components";
@import "../mixins/mixins";

.showsPageCarousel {
  @include transitionSet;
  &:hover {
    @include elevateWithShadow(10em, false);
  }
  margin: 2rem 0 2rem 0;
  .bandsCarousel {
    margin-top: 0rem;
    width: 100%;
  }
}

.showAudioContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  .showAudioCard {
    @include transitionSet;
    &:hover {
      @include elevateWithShadow(10em, false);
    }
    max-width: 30%;
    display: flex;
    flex-direction: column;
    background-color: $containerColor;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    min-height: 400px;
    gap: 1rem;
    .audioContainer {
      display: flex;
      max-width: 100%;
      justify-content: center;
      .audioControls {
        max-width: 100%;
        margin: 0.5rem;
        margin-top: 3rem;
      }
    }
  }
}

@media (max-width: 1080px) {
  .showsPageCarousel {
    &:hover {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;
  }
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    height: 500px;
    #carouselBand2 {
      margin-top: 0rem;
      width: 100vw;
      .showImage {
        overflow: hidden;
        width: 100vw;
        height: 500px;
      }
      .centerImageTextShows {
        font-size: 20px;
        left: 25%;
      }
    }
  }

  .showAudioContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: 16px;
    .showAudioCard {
      max-width: 100%;
      padding: 1rem;
      min-height: 300px;
      .audioContainer {
        display: flex;
        max-width: 100%;
        justify-content: center;
        .audioControls {
          max-width: 100%;
          margin: 0.5rem;
          margin-top: 3rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .showAudioContainer {
    .showAudioCard {
      max-width: 100%;
      padding: 1rem;
      min-height: 400px;
    }
  }
}
